# Eclipse configuration
.settings
.classpath
.classpath.orig
.project
**/.project
rebel.xml
.externalToolBuilders

# Scala Worksheets
*.sc
.worksheet

# MacOS Garbage
.DS_Store

# Package Files #
*.war
*.ear

# Generated stuff
target
*.class
.gwt
bin
s3cfg

# Credentials
AwsCredentials.properties



# Unknown
*.cache
*.swp
.elasticbeanstalk/
