# Eclipse configuration
.settings
.classpath
.classpath.orig
.project 

# MacOS Garbage
.DS_Store

# Package Files #
*.jar
*.war
*.ear

# Generated stuff
target
*.class
.gwt


# Unknown
*.cache
*.swp
