# Eclipse configuration
.settings
.classpath
.classpath.orig
.project 
rebel.xml

# Scala Worksheets
*.sc

# MacOS Garbage
.DS_Store

# Package Files #
*.war
*.ear

# Generated stuff
target
*.class
.gwt


# Unknown
*.cache
*.swp
.elasticbeanstalk/
