html, body {
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
	height: 100% !important;
	background-color: #000000 !important;	
}
.WelcomePlace {
	position: absolute;
	bottom: 0px;
	top: 42px;
}
.WelcomePlace .contentWrapper {
	position: absolute;
	bottom: 0px;
	top: 42px;
} 

.AtividadePlace .contentWrapper {
	position: absolute;
	bottom: 42px;
	top: 42px;
	width: 100%;
}

.debug{
	
}

.debug-g{
	background-color: lightgreen;
}

.full {
	width: 100%;
	height: 100%;
}

.widest {
	width: 100%;
}

.shy {
	display: none; 
}

.show {
	display: block !important; 
}

iframe {
	border-width: 0;
}

.clearer{
	clear: both;
}

.externalContent{
	margin-bottom: -5px;
}

.collapse{
	-webkit-transition: height 0.6s ease;
	-moz-transition: height 0.6s ease;
	-o-transition: height 0.6s ease;
	transition: height 0.6s ease;
}

.vScrollBar{
	height: auto !important;
	overflow-y: overlay !important;
	overflow-x: hidden !important;
}

.contentPanel{
	height: auto;
}

.debug {
	border: 2px solid red;
}


.gwt-PopupPanelGlass{
	background-color: #000;
	opacity: 0.50;
	-moz-opacity: 0.50;
	filter:alpha(opacity=50);
	width: 100%;
	height: 100%;
}

.ajaxLoaderPanel {
	width: 126px;
}

.ajaxLoaderPanel span{
	display: block;
	text-align: center;
	margin-bottom: 2px;
}

object{
	display: none;
}