html, body {
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
	height: 100% !important;
}

.wrapper {
	height: 100%;
}

.debug{
	background-color: #FFC9C9;
}

.debug-g{
	background-color: lightgreen;
}

.full {
	width: 100%;
	height: 100%;
}

.widest {
	width: 100%;
}

.shy {
/*	display: none; */
}

iframe {
	border-width: 0;
}
