
html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
}

.wrapper { 
}

body {}

.wrapper {
	height: 100%;
}

.debug{
	background-color: #FFC9C9;
}

.vitrine{
	height: 100%;
	background: url(bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.boxLogin {
	margin-top:30px;
	background-color: rgba(255, 255, 255, 0.60);
	padding: 15px;
	border:8px solid white;
	border-radius:8px;
	box-shadow: 2px 2px 50px #FFFFFF;	
	height: 250px;
	color: #444444;
}

.appContainer {
	margin-top: 10px;
}