@import "colors";
@import "mixins";

@barNorthHeight: 45px;
@barSouthHeight: 35px;

.menuBar{
	.north;
	.size (100%, @barNorthHeight);
	.gradient (@barGradientStartColor, @barGradientEndColor);
	.imgMenuBar{
		float: left;
		.marginLogo;
	}
	.buttons{
		float: right;
		.btnPanel{
		}
		.menuBarButton {
			.btnBorder;
			@paddingTop: 10px;
			height: @barNorthHeight - @paddingTop;
			line-height: @barNorthHeight - (@paddingTop*2);
			float: left;
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: @paddingTop;;
			.label{
				background: transparent;
				color: @niceTextColor;
				font-size: 12px;
				margin-left: 4px;
			}
			.icon{
				.size (25px);
			}
			.count {
				font-size: 9px;
				font-weight: bold;
				position: relative;
				color: @textHighlightColor;
				&:hover{
					text-decoration: none;
				}
			}
			.countNotifications{
				left: 12px;
				top: -27px;
			}
			.countMessages{
				left: 8px;
				top: -29px;
			}
		}
		.first{
			border-left: 0px;
			padding: 0;
			width: 0;
		}
		.last{
			border-right: 0px;
		}
	}
}


.activityBarWrapper{
	.gradient (@barGradientStartColor, @barGradientEndColor);

	.activityBar{	
		.south;
		.gradient (@barGradientStartColor, @barGradientEndColor);
		.size (@wrapperWidth,@barSouthHeight);
		margin: 0 auto;
		.btnPanel{
			.btnBorder;
		}
		.activityBarButton {
			width: 25%;
			height: @barSouthHeight;
			float: left;
			line-height: @barSouthHeight;
			text-align: center;
			padding: 0;
			border: 0;
			.label{
				background: transparent;
				color: @niceTextColor;
				font-size: 11px;
				margin-left: 4px;
			}
			.icon{}
		}
		.selected{
			@borderTopHeight: 3px;
			border-top: @borderTopHeight solid @buttonSelectedGradientStart;
			line-height: @barSouthHeight - @borderTopHeight;
		}
		.disabled {
			.label{
				color: darken(@niceTextColor, 30%);
			}
		}
	}
}
@media screen and (max-width: @wrapperWidth) {
	.activityBarWrapper{
		.activityBar{
			.size (@wrapperWidthUnder990,@barSouthHeight);
			/*.activityBarButton {
				.label{
					visibility: hidden;
					width: 0px;
					border: 0;
					margin: 0;
					padding: 0;
				}		
			}*/
		}
	}
}


.courseBar{
	.south;
	.gradient (@barGradientStartColor, @barGradientEndColor);
	.size (@wrapperWidth,@barSouthHeight);
	.btnPanel{
		.btnBorder;
	}
	.courseBarButton {
		@borderTopHeight: 3px;
		height: @barSouthHeight;
		line-height: @barSouthHeight - @borderTopHeight;
		float: left;
		text-align: center;
		padding: 0;
		border: 0;
		border-top: @borderTopHeight solid @buttonSelectedGradientStart;
		.label{
			background: transparent;
			color: @niceTextColor;
			font-size: 11px;
			margin-left: 4px;
		}
		.icon{}
	}
	@buttonCount: 8;
	@buttonWidth: ( @wrapperWidth / @buttonCount ) - 2px;
	.course 		{width: @buttonWidth; border-left: 0px;}
	.details 		{width: @buttonWidth;}
	.library 		{width: @buttonWidth;}
	.forum 			{width: @buttonWidth;}
	.chat 			{width: @buttonWidth;}
	.specialists 	{width: @buttonWidth + 2px;} /*because of the borders*/
	.notes 			{width: @buttonWidth;}
	.back 			{width: @buttonWidth; border-right: 0px;}
}
@media screen and (max-width: @wrapperWidth) {
	.courseBar{
		.courseBarButton {
			.label{
				visibility: hidden;
				width: 0px;
				border: 0;
				margin: 0;
				padding: 0;
			}		
		}
		@buttonCount: 8;
		@buttonWidth: ( @wrapperWidthUnder990 / @buttonCount ) - 2px;
		.course 		{width: @buttonWidth; border-left: 0px;}
		.details 		{width: @buttonWidth;}
		.library 		{width: @buttonWidth;}
		.forum 			{width: @buttonWidth;}
		.chat 			{width: @buttonWidth;}
		.specialists 	{width: @buttonWidth + 2px;} /*because of the borders*/
		.notes 			{width: @buttonWidth;}
		.back 			{width: @buttonWidth; border-right: 0px;}
	}
}