@import "colors";
@import "mixins";
@import "constants";
@import "forms";

@barNorthHeight: 45px;
@barNorthHeightPlus: @barNorthHeight + 35px;
@barSouthHeight: 35px;

.activityBarWrapper{
	.gradient (@barGradientStartColor, @barGradientEndColor);
	.noTextSelect;
	height: @barSouthHeight;
	position: fixed;
	width: 100%;
	margin: 0 auto;
	bottom: 0px;
	left: 0px;
	.activityBar{	
		.south;
		.gradient (@barGradientStartColor, @barGradientEndColor);
		.size (@wrapperWidth,@barSouthHeight);
		margin: 0 auto;
		.btnPanel{
			.btnBorder;
			.cursorPointer;
		}
		.activityBarButton {
			width: 20%;
			height: @barSouthHeight;
			float: left;
			line-height: @barSouthHeight;
			text-align: center;
			padding: 0 !important;
			border-radius: 0px !important;
			border: 0;
			text-decoration: none;
			.label{
				background: transparent;
				color: @niceTextColor;
				font-size: 11px;
				margin-left: 4px;
			}
			.icon{}
		}
		.selected{
			@borderTopHeight: 3px;
			border-top: @borderTopHeight solid @buttonSelectedGradientStart;
			line-height: @barSouthHeight - @borderTopHeight;
		}
		.firstMonoSCO{
			margin-left: 288px;
		}
		.disabled {
			.label{
				color: darken(@niceTextColor, 30%);
			}
		}
		.btnProgress{
			cursor: default;
			.progressBarPanel{
				.btnBorder;
				height: @barSouthHeight;
				.progress{
					width: 150px;
					height: 10px;
					margin: 0 auto;
					margin-top: 2px;
					.bar{
						.gradient(@buttonSelectedGradientStart, @buttonSelectedGradientEnd);
					}
				}
				.pagePanel{
					height: 10px;
					line-height: 11px;
					margin-top: 3px;
					display: block; 
					div{
						display: inline;
					}
				}
			}
		}
	}
}
@media screen and (max-width: @wrapperWidth) {
	.activityBarWrapper{
		.activityBar{
			.size (@wrapperWidthUnder990,@barSouthHeight);
			.progress{
				width: 100px !important;
			}
			/*.activityBarButton {
				.label{
					visibility: hidden;
					width: 0px; 
					border: 0;
					margin: 0;
					padding: 0;
				}		
			}*/
		}
	}
}


.menuBarPlus{
	height: @barNorthHeightPlus !important;
}
.menuBarContainer {
	.north;
	.size (100%, @barNorthHeight);
	position: fixed;
	z-index: 1;
	.menuBar{
		.size (100%, @barNorthHeight);
		.gradient (@barGradientStartColor, @barGradientEndColor);
		.imgMenuBar{
			float: left;
			.marginLogo;
		}
		.buttons{
			float: right;
			.menuBarButton {
				.btnBorder;
				@paddingTop: 10px;
				height: @barNorthHeight - @paddingTop;
				line-height: @barNorthHeight - (@paddingTop*2);
				float: left;
				text-align: center;
				padding: 10px 14px 0px 14px;
				font-size: 18px;
				color: @niceTextColor !important;
				text-decoration: none;
				.label{
					background: transparent;
					color: @niceTextColor;
					font-size: 12px;
					margin-left: 4px;
				}
				.icon{
					.size (25px);
				}
				.count {
					font-size: 11px;
					font-weight: bold;
					position: relative;
					background-color: @textHighlightColor;
					border-radius: 10px;
					line-height: 14px;
					color: @blackOrWhite;
					margin-top: 5px;
					padding: 0px 2px;
					&:hover{
						text-decoration: none;
					}
				}
				.countNotifications{
					left: 12px;
					top: -27px;
				}
				.countMessages{
					left: 8px;
					top: -36px;
				}
			}
			.first{
				border-left: 0px !important;
				padding: 0;
				width: 0;
			}
			.last{
				border-right: 0px;
			}
		}
		.testEnvWarning{
			color: @textHighlightColor;
			width: 85px;
			font-size: 15px;
			line-height: 45px;
			font-weight: bold;
			float: right;
			text-align: center;
		}
	}
}
@media screen and (max-width: 700px) {
	.imgMenuBar{
		display: none;
	}
}
 