//STRUCTURE
@wrapperWidth: 1024px; /*962px*/ 
@wrapperWidthUnder990: 600px;
@menuLeftWidth: 220px;
@imagesPath: ~"../icons/";
@defaultFont: Helvetica, arial, freesans, clean, sans-serif;
@marginLeftLogo: 0px;
.background{
	//.gradient (@bodyGradientStartColor, @bodyGradientEndColor);
	background: url(/skins/first/bgIn.jpg);
	background-size: 100% 100%;
}

// GENERAL
@niceTextColor: #B6B6B6;
@plainTextColor: #d9dadb;
@bordersColor: #474747;
@textHighlightColor: #d88709;
@textHighlightColor2: #D61609;
@textHighlightDiscreteColor: #d6d5d5;
@textInfoColor: #78af73;

// BACKGROUND
@bodyGradientStartColor: #000;
@bodyGradientEndColor: #543846;

// BARS
@barGradientStartColor: #45484D;
@barGradientEndColor: #000;
@barButtonTextColor: #fff;
@barButtonSeparatorColor: @bordersColor;

// VITRINE
@boxLoginBackgroundColor: #000;
@boxLoginBorderColor: @bordersColor;

// WELCOME
@courseSummaryBackgroundColor: #3D3133;
@courseSummaryThumbBorderColor: lighten(@courseSummaryBackgroundColor, 20%);
@highlightCoursesCountColor: @textHighlightColor2;

// PROFILE
@profileBackgroundColor: @menuLeftItemGradientEndColor;
@profileLabelValueColor: #e0dfe0;
@profileLabelValueAddColor: #b795a4;
@profileLabelPublicColor: #696769;
@profileLabelColor: #bec1c3;
@profileLabelExtraInfoColor: @textInfoColor;
@profileLabelTitleColor: #fff;

// MENULEFT
@menuLeftGradientStartColor: #3e3a42;
@menuLeftGradientEndColor: #271e22;
@menuLeftItemGradientStartColor: #101013;
@menuLeftItemGradientEndColor: #110f13;

// BUTTONS
@buttonNotSelectedGradientStart: #4c4f54;
@buttonNotSelectedGradientEnd: #2a2d32;
@buttonSelectedGradientStart: #9b020a;
@buttonSelectedGradientEnd: #4b0105;
@buttonBorderLeftColor: #505864;
@buttonBorderRightColor: #181c22;
@buttonBorderBottomColor: #0c0c0d;
@buttonActionGradientStart: #027e39;
@buttonActionGradientEnd: #01401f;

//DETAILS
@detailsItemWrapperColor: #0D0B0C;
@detailsCertificationStatusColor: #129af5;

//NOTES
@notesBackgroundColor: #000;

// // GENERAL
// @niceTextColor: #7e8991;
// @bordersColor: #f1f6f7;
// @textHighlightColor: #01a8d3;
// @textHighlightDiscreteColor: #01a8d3;

// // BACKGROUND
// @bodyGradientStartColor: #000;
// @bodyGradientEndColor: #3e4d52;

// // BARS
// @barGradientStartColor: #555f62;
// @barGradientEndColor: #2f3537;
// @barButtonTextColor: #d7d8d9;
// @barButtonSeparatorColor: @bordersColor;

// // VITRINE
// @boxLoginBackgroundColor: #000;
// @boxLoginBorderColor: @bordersColor;

// // WELCOME
// @courseSummaryBackgroundColor: #ecf3f5;
// @courseSummaryThumbBorderColor: lighten(@courseSummaryBackgroundColor, 20%);
// @highlightCoursesCountColor: #01a8d3;

// // PROFILE
// @profileBackgroundColor: @menuLeftItemGradientEndColor;
// @profileLabelValueColor: #e0dfe0;
// @profileLabelValueAddColor: #b795a4;
// @profileLabelPublicColor: #696769;
// @profileLabelColor: #bec1c3;
// @profileLabelExtraInfoColor: #78af73;
// @profileLabelTitleColor: #ffffff;;

// // MENULEFT
// @menuLeftGradientStartColor: #3f4e53;
// @menuLeftGradientEndColor: #28363b;
// @menuLeftItemGradientStartColor: #101013;
// @menuLeftItemGradientEndColor: #110f13;

// // BUTTONS
// @buttonNotSelectedGradientStart: #4c4f54;
// @buttonNotSelectedGradientEnd: #2a2d32;
// @buttonSelectedGradientStart: #9b020a;
// @buttonSelectedGradientEnd: #4b0105;
// @buttonBorderLeftColor: #2a343c;
// @buttonBorderRightColor: #090d10;
// @buttonBorderBottomColor: #0c0c0d;

// @wrapperWidth: 1024px;
// @menuLeftWidth: 220px;
// @imagesPath: ~"icons/";
// @defaultFont: Helvetica, arial, freesans, clean, sans-serif;
// @marginLeftLogo: 42px;