@import "colors";

.btn-primary {
  .btnSelected;
}
.btnNotSelected{
  .gradient(@buttonNotSelectedGradientStart, @buttonNotSelectedGradientEnd);
}
.btnSelected{
  .gradient(@buttonSelectedGradientStart, @buttonSelectedGradientEnd);
}
.btnBorder{
	border-left: 1px solid @buttonBorderLeftColor;
	border-right: 1px solid @buttonBorderRightColor;
}

.gradient (@colorStart: #000, @colorEnd: #fff) {
	background: @colorStart; /* Old browsers */
	background: -moz-linear-gradient(top,  @colorStart 0%, @colorEnd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@colorStart), color-stop(100%,@colorEnd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @colorStart 0%,@colorEnd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @colorStart 0%,@colorEnd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @colorStart 0%,@colorEnd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @colorStart 0%,@colorEnd 100%); /* W3C */
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@colorStart', endColorstr='@colorEnd',GradientType=0 )"; /* IE6-9 */
 }

.size (@square) {
	width: @square;
	height: @square;
}

.size (@width, @height) {
	width: @width;
	height: @height;
}

.sizepx (@width, @height) {
	.size(@width + 0px, @height + 0px);
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.south{
	bottom: 0px;
	left: 0px;
}
.north{
	top: 0px;
	left: 0px;
}

.changeBackgroundColorOnHover (@color, @percent) when (lightness(@color) >= 50%) {
  	background-color: darken(@color, @percent);
}
.changeBackgroundColorOnHover (@color, @percent) when (lightness(@color) < 50%) {
  	background-color: lighten(@color, @percent);
}

.backgroundImage (@imageName) { 
   background: url('@{imagesPath}@{imageName}') no-repeat; 
}

.marginLogo{
	margin-left: @marginLeftLogo;
}


::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.borderNone{
	border: 0 !important;
}
.paddingTop30{
	padding-top: 30px;
} 
.paddingTop37{
	padding-top: 37px;
}
.paddingTop44{
	padding-top: 44px;
}
.width120{
	widht:	120px;
}
.test{
	color: red;
}