//UTILS
@import "utils/bars";
@import "utils/mixins";
//VITRINE
@import "vitrine/vitrine";
//TERMS
@import "terms/terms";
//WELCOME
@import "welcome/menuLeft";
@import "welcome/profile";
@import "welcome/courses/courses";
	@import "welcome/courses/courseLibrary";
	@import "welcome/courses/courseDetails";
	@import "welcome/courses/courseNotes";
@import "welcome/profile";

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	.background;
}

.wrapper {
    margin: 0 auto;  
} 
@media screen and (max-width: @wrapperWidth) {
    .wrapper {
	}
}
.contentWrapper {}


::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(90, 88, 88, 0.5) !important; 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(90, 88, 88, 0.5) !important; 
    border-radius: 5px;
}

