//UTILS
@import "utils/bars";
@import "utils/forms";
@import "utils/mixins";
@import "utils/colors";
@import "utils/lesshat";
//VITRINE
@import "vitrine/vitrine";
//TERMS
@import "terms/terms";
//WELCOME
@import "welcome/welcome";
@import "welcome/profile";
@import "welcome/courses/courses";
	@import "welcome/courses/courseLibrary";
	@import "welcome/courses/courseDetails";
	@import "welcome/courses/courseNotes";
@import "welcome/profile";

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: @background;
	background-size: 100% 100%;
}

.wrapper {
    margin: 0 auto;  
} 
@media screen and (max-width: @wrapperWidth) {
    .wrapper {
	}
}
.contentWrapper {}
	
::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px fade(@contentBoxBackgroundColor, 50%) !important; 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px fade(@tableBackgroundColor, 50%) !important; 
    border-radius: 5px;
}


.messageInboxPanel{
	width: @wrapperWidth;
	margin: 0 auto;
	margin-top: 10px;
	@border: 1px solid fade(@niceTextColor, 25%);
	@borderHighlight: 1px solid fade(@textInfoColor, 50%);
	height: 442px;
	border: @border;
	border-radius: 8px;
	.boxSizing;
	.sidePanelScroll{
		max-height: 429px;
		margin-right: 10px;
		padding: 5px;
		border-radius: 8px;
		.sidePanel{
			width: 240px;
			margin-right: 14px;
			.boxSizing;
			.threadListItem{
				.boxSizing;
				color: @niceTextColor;
				background-color: @tableBackgroundColor;
				font-size: 12px;
				line-height: 20px;
				margin-bottom: 8px;
				border-radius: 8px;
				padding: 5px;
				&:hover {
					background-color: @tableBackgroundHoverColor;
				}
				.unreadCount{
					color: @textInfoColor;
					padding-left: 5px;
				}
			}
			.selected{
				background-color: @tableBackgroundHoverColor;
			}
		}
	}
	.threadPanel{
		width: 686px;
		background-color: @tableBackgroundColor;
		padding: 10px;
		border-radius: 8px;
		.boxSizing;
		.threadTitle{
			font-size: 14px;
			color: @textInfoColor;
			padding-bottom: 15px;
			margin-bottom: 5px;
			border-bottom: @borderHighlight;
			text-align: center;
		}
		.threadPanelItemsScroll{
			height: 300px;
			margin-bottom: 5px;
			padding-right: 5px;
			.threadMessageWrapper{
				.boxSizing;
				background: fade(@blackOrWhite, 10%);
				margin: 5px;
				padding: 5px 8px;
				margin-left: 15px;
				border-radius: 10px;
				position: relative;
				.threadMessageHeader{
					color: @textHighlightDiscreteColor;
					font-size: 8px;
					font-size: 10px;
					margin-bottom: 5px;
				}
				.threadMessageItem{
					color: @niceTextColor;
					font-size: 12px;
					padding: 0px 10px;
					white-space: pre-wrap;
				}
				&:after {
					content: '';
					position: absolute;
					top: 40%;
					left: 0%;
					margin-left: -12px;
					border-top: 7px solid transparent;
					border-bottom: 7px solid transparent;
					border-right: 12px solid fade(@blackOrWhite, 10%);
				}
			}
			.overrideWrapper{
				margin-left: 0px !important;
				margin-right: 15px !important;
				background: fade(@blackOrWhite, 18%) !important;
				&:after {
					left: 100% !important;
					margin-left: 0px !important;
					margin-right: -12px !important;
					border-left: 12px solid fade(@blackOrWhite, 22%) !important;
					border-right: 0px !important;
				}
			}
		}
		.sendMessageWrapper{
			.boxSizing;
			border-top: @borderHighlight;
			padding-top: 10px;
			.messageTextArea{
				.boxSizing;
				width: 83%;
				float: left;
				height: 60px;
				font-size: 12px;
				line-height: 14px;
			}
			.btnSend{
				.boxSizing;
				width: 15%;
				float: left;
				margin-top: 40px;
				margin-left: 10px;
			}
		}
	}
}











.messagesPopup{
	right: 0 !important;
	left: initial !important;
	width: auto;
	.messagesPanel{
		width: 510px;
		margin: 0 auto;
		border-radius: 0px 0px 0px 15px;
		background-color: @modalBackgroundColor;
		border: 1px inset @niceTextColor;
		border-top: 0;
		border-right: 0;
		.titlePanel{
			height: auto;
			padding-top: 12px;
			margin-left: 13px;
			text-align: center;
			margin-bottom: 3px;
			.lblTitle{
				color: @textHighlightColor;
				font-size: 15px;
				font-weight: bold;
				width: 100%;
				text-align: center;
			}
			.lblSubTitle{
				color: @textInfoColor;
				font-size: 10px;
				float: left;
				width: 100%;
			}
			.profileSeparatorBar{
				width: 100%;
			}
		}
		.fieldPanelWrapper{
			height: auto;
			margin-bottom: 5px;
			width: 100%;
			.labelPanel{
				width: 80px;
				margin-right: 7px;
				text-align: initial;
				float: left;
				.lblLabel{
					line-height: 12px;
					font-size: 12px;
					text-decoration: none;
				}
			}
			.fieldPanel{
				.lblValue{
					line-height: 14px;
					margin-left: 2px;
					margin-top: 5px;
					margin-bottom: 5px;
					font-size: 14px;
					font-weight: bold;
					width: 400px;
				}
				.textField{
					width: 380px;
					height: 12px;
					font-size: 12px;
				}
				.selectField{
					width: 393px;
					height: 24px;
						font-size: 11px;
				}
				.error{
					font-size: 10px;
					line-height: 12px;
				}
				.gwt-TextArea{
					height: 180px;
				}
			}
		}
		.standardButtonBar{
			width: 220px;
			.btnStandard{
				margin: 5px;
				margin-bottom: 10px;
			}
		}
	}
}


.deanHome{
	width: @wrapperWidth;
	margin: 0 auto;
	@insertPanelHeight: 45px;
	.inlineLabel{
		margin-right: 5px;
		display: inline;
		color: @niceTextColor;
		font-size: 12px;
	}
	.lblHighlight{
		color: @textHighlightDiscreteColor;
		font-weight: bold;
		font-size: 13px;
	}
	.titlePanel{
		margin-bottom: 20px;
		height: auto;
		padding-top: 0;
	}
	.title{
		color: @textHighlightColor;
		font-size: 18px;
		line-height: 28px;
		clear: both;
	}
	.subTitle{
		color: @niceTextColor;
	}
	.courseClassesHeaderWrapper{
		margin-top: 20px;
		height: 45px;
		.listBoxCourseClasses{
			float: left;
			height: 26px;
			margin-left: 15px;
			width: 550px;
			font-size: 12px;
		}
		.btnAction{
			float: right;
		}
	}
	.controlsPanel{
		float: left;
		width: 100%;
		.insertPanel{
			float: left;
			line-height: 45px;
			.btnAction{
				margin-left: 10px;
				display: inline-block;
			}
			input{
				margin-top: 10px;
				width: 180px;
				height: 14px;
				font-size: 12px;
				margin-left: 5px;
				margin-right: 10px;
			}
		}
		.insertBatchPanel{
			float: right;
			height: @insertPanelHeight;
			.btnNotSelected{
				margin-top: 12px;
				margin-right: 12px;
			}
		}	
	}
	.addEnrollmentBatchPanel{
		display: block;
		width: 800px;
		margin: 0px auto;
		.infoPanel{
			font-size: 12px;
			line-height: 16px;
			float: left;
			margin-left: 20px;
			margin-top: 130px;
		}
		textarea{
			width: 500px;
			float: left;
			height: 350px;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		.btn{
			margin-top: 15px !important;
			display: inline-block;
		}
	}
	.enrollmentsCellTable{
		width: @wrapperWidth;
		color: @niceTextColor;
		margin-bottom: 0;
		border: 0;
		border-collapse: separate;
		border-spacing: 0 5px;
		.btnEnrollmentsCellTable{
			float: left;
			margin-right: 10px;
			height: 18px;
			line-height: 14px;
			font-size: 10px;
		}
		thead{
			tr{
				background-color: transparent !important;
				.gradient(@buttonNotSelectedGradientStart, @buttonNotSelectedGradientEnd);
				th{
					border-right: 1px solid @buttonBorderLeftColor;
					padding: 3px;
				}
			}
		}
		tbody{
			tr{
				background-color: @tableBackgroundColor;
				font-size: 12px;
				&:hover {
					background-color: @tableBackgroundHoverColor;
				}
				td{
					border: 0;
					padding: 3px;
					line-height: 22px;
				}
			}
		}
	}
	table{
		border-color: transparent !important;
	}
	.pageSizeListBox{
		font-size: 12px;
		width: 65px;
		height: 26px;
		margin-left: 5px;
		margin-right: 5px;
		float: right;
		background-color: transparent;
		border: 1px solid @buttonBorderLeftColor;
		color: @niceTextColor;
	}
	.txtSearch{
		font-size: 12px;
		height: 17px;
		margin-right: 5px;
		float: left;
		background-color: transparent;
		border: 1px solid @buttonBorderLeftColor;
		color: @niceTextColor;
	}
	.btnSearch{
		float: left;
		margin-top: 3px;
	}
	.tab-content {
		overflow: hidden;
	}
}




.courseClassAdminField{
	height: auto !important;
	width: 750px !important;
	.labelPanel{
		width: 180px;
	}
	.fieldPanel{
		width: 540px;
		.textField{
			float: left;
			width: 400px;
		}
		.btnAction{
			float: left;
			margin-left: 15px;
			margin-top: 4px;
		}
		.selectField{
			margin-top: 15px;
			margin-bottom: 25px;
			float: left;
			height: 100px;
			width: 414px;
		}
		.btnSelected{
			float: left;
			margin-left: 15px;
			margin-top: 92px;
		}
	}
}



.reportPanel{
	@detailsPanelMargin: 20px;
	@reportPanelWidth: @wrapperWidth - @detailsPanelMargin;

	@reportWidth: .6 * @reportPanelWidth;
	@generateWidth: .2 * @reportPanelWidth;
	@downloadWidth: .2 * @reportPanelWidth;
	float: left;
	.reportHeaderPanel{
		@reportHeaderPanelHeight: 24px;
		height: @reportHeaderPanelHeight;
		margin-bottom: 10px;
		.btnReportHeader{
			.boxSizing;
			border-radius: 0px !important;
			height: @reportHeaderPanelHeight;
			line-height: @reportHeaderPanelHeight;
			padding-left: @detailsPanelMargin / 2 !important;
			padding-right: @detailsPanelMargin / 2 !important;
			.btnBorder;
			display: block;
			float: left;
			&:hover{
				text-decoration: none;
				cursor: default;
			}
		}
		.btnReport{width: @reportWidth; text-align: left;}
		.btnGenerate{width: @generateWidth;}
		.btnDownload{width: @downloadWidth;}
	}
	.reportWrapper{
		@reportWrapperHeight: 78px;
		height: @reportWrapperHeight;
		line-height: @reportWrapperHeight;
		background-color: @contentBoxBackgroundColor;
		margin-top: @detailsPanelMargin / 2;
		color: @niceTextColor;
		font-size: 13px;
		.itemPanel{
			.boxSizing;
			float: left;
			padding-left: @detailsPanelMargin / 2;
			padding-right: @detailsPanelMargin / 2;
			width: @reportWidth + 2px;
			.reportIcon{
				float: left;
				padding-top: (@reportWrapperHeight - 18px) / 2;
				padding-bottom: (@reportWrapperHeight - 18px) / 2;
				padding-left: @detailsPanelMargin / 2;
				padding-right: @detailsPanelMargin;
			}
			.lblName{
				.lightenOrDarkenColor(@niceTextColor, 20%);
				padding-left: @detailsPanelMargin;
				line-height: 10px;
				padding-top: @detailsPanelMargin * 2 / 3;
				padding-bottom: @detailsPanelMargin / 4;
			}
			.lblDescription{
				color: @textInfoColor;
				padding-left: @detailsPanelMargin;
				font-size: 9px;
				line-height: 11px;
			}
			.optionPanel{
				padding-left: 48px;
				padding-top: 5px;
				img{
					height: 18px;
					width: 18px;
					float: left;
					.cursorPointer;
				}
				input{
					height: 12px;
					margin-left: 6px;
				}
				span{
					font-size: 10px;
					margin-left: 2px;
					float: left;
					.cursorPointer;
				}
			}
		}
		.lblGenerate{
			.boxSizing;
			float: left;
			width: @generateWidth;
			padding-left: @detailsPanelMargin / 2;
			padding-right: @detailsPanelMargin / 2;
			text-align: center;
		}
		.lblDownload{
			.boxSizing;
			float: left;
			width: @downloadWidth;
			text-align: center;
			padding-left: @detailsPanelMargin / 2;
			padding-right: @detailsPanelMargin / 2;
		}
	}
}