.boxSizing{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.fillWidth{width:100%;}
.south{bottom:0px;left:0px;}
.north{top:0px;left:0px;}
.centerText{text-align:center;}
.rightText{text-align:right;}
.leftText{text-align:left;}
.cursorPointer{cursor:pointer;}
.cursorDefault{cursor:default;}
.noTextSelect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.marginLogo{margin-left:0px;}
.BMP0{border:0;margin:0;padding:0;}
.heightAuto{height:auto !important;}
.niceTextColor{color:#bec1c3;}
.highlightText{color:#d88709;}
.textInfoColor{color:#5b9455 !important;}
.font16{font-size:16px !important;}
.borderNone{border:0 !important;}
.paddingTop30{padding-top:30px;}
.paddingTop37{padding-top:37px;}
.paddingTop44{padding-top:44px;}
.paddingRight5{padding-right:5px;}
.marginRight5{margin-right:5px;}
.marginLeft7{margin-left:7px;}
.marginLeft25{margin-left:25px;}
.marginTop25{margin-top:25px;}
.marginBottom25{margin-bottom:25px;}
.height200{height:200px !important;}
.test{color:red;}
.left{float:left;}
.right{float:right;}
.unclear{clear:none !important;}
.error{color:#ca2828;}
.borderRadius0{border-radius:0 !important;}
.modal-backdrop,.modal-backdrop.fade.in{display:none;}
.notesPopup{position:absolute;border-radius:10px 10px 0px 0px;}.notesPopup .popupContent{height:100%;}.notesPopup .popupContent .notesTextArea{border:0;margin:0;padding:0;width:100%;height:100%;resize:none;border-radius:10px 10px 0px 0px;font-style:italic;background:#0d0b0c;color:#bec1c3;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:15px;border-top:1px solid #6f7579;border-left:1px solid #6f7579;border-right:1px solid #6f7579;}
