@import "../utils/mixins";
@import "../utils/colors";

.profileForm{
	@profileWidth: @wrapperWidth - 18px;
	@profilePadding: 20px;
	width: @profileWidth;
	height: 100%;
	margin: 0 auto;
	border-radius: 0px 0px 15px 15px;
	.titlePanel{
		height: 30px;
		padding-top: @profilePadding;
		.imgTitle{
			float: left;
			padding-left: @profilePadding;
			padding-right: @profilePadding;
		}
		.lblTitle{
			font-size: 17px;
			color: @profileLabelTitleColor;
			float: left;
		}
		.editPanel{
			float: right;
			padding-right: 30px;
			.lblEdit{
				color: white;
			}
		}
	}
	.fieldsWrapper{
		padding-left: 100px;
		.profileSeparatorBar{
			margin-bottom: 25px;
			float: left;
		}
	}
	.privatePanel{
		float: left;
		width: 80px;
		div{
			color: @profileLabelPublicColor;
			font-size: 12px;
			line-height: 26px;
			font-weight: bold;
		}
		img{
			float: left;
		}
	}
}
@media screen and (max-width: @wrapperWidth) {
	.profileFields{
		@profileWidth: @wrapperWidthUnder990 - @menuLeftWidth - 18px;
		@profilePadding: 10px;
		width: @profileWidth;
	}
}