.profileForm{width:944px;height:100%;margin:0 auto;border-radius:0px 0px 15px 15px;}.profileForm .titlePanel{height:30px;padding-top:20px;margin-bottom:30px;}.profileForm .titlePanel .imgTitle{float:left;padding-left:20px;padding-right:20px;}
.profileForm .titlePanel .lblTitle{font-size:17px;color:#d9dadb;float:left;}
.profileForm .titlePanel .editPanel{float:right;padding-right:30px;}.profileForm .titlePanel .editPanel .lblEdit{color:white;}
.profileForm .titlePanel .btnChangePassword{float:right;margin-right:40px;width:150px;}
.profileForm .fieldsWrapper{padding-left:100px;}.profileForm .fieldsWrapper .profileSeparatorBar{margin-bottom:25px;float:left;}
@media screen and (max-width:962px){.profileFields{width:362px;}}
