/* Backgrounds Group
========================== */
/* @group gradient-veritical() */
/* @end */
/* @group background-clip() */
/* @end */
/* Box Group
========================== */
/* @option: box-display() */
/* @end */
/* @group box-shadow() */
/* @end */
/* Border Group
========================== */
/* @group rounded() */
/* @end */
/* Transform Group
========================== */
/* @group matrix() */
/* @end */
/* @group rotate() */
/* @end */
/* @group scale() */
/* @end */
/* @group translate() */
/* @end */
/* @group skew() */
/* @end */
/* Transition
========================== */
/* Animation Group
========================== */
/* Column
========================== */
/* Misc Group
========================== */
.welcomePanel {
  width: 962px;
  margin: 0 auto;
}
.welcomePanel .pnlCourses {
  display: block;
  overflow: auto;
  width: 962px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.welcomePanel .pnlCourses .courseSummary {
  width: 912px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  float: left;
}
.welcomePanel .pnlCourses .courseSummary:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}
.welcomePanel .pnlCourses .courseSummary h1 {
  margin: 0px;
  margin-top: -8px;
  padding: 5px 0px 5px 0px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  line-height: 1.231;
  color: #e3e3e3;
}
.welcomePanel .pnlCourses .courseSummary .lblSubTitle {
  color: #888888;
  font-style: italic;
  font-size: 12px;
  margin-top: -7px;
  margin-bottom: -8px;
}
.welcomePanel .pnlCourses .courseSummary .details {
  height: 100%;
  color: #bec1c3;
}
.welcomePanel .pnlCourses .courseSummary img.thumb {
  height: 200px;
  width: 130px;
  height: 130px;
  float: left;
  border: 1px solid #474747;
  margin: 5px;
  margin-right: 10px;
}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar {
  margin-top: -9px;
}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar .icon {
  float: left;
  width: 20px;
  height: 20px;
}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar .courseStatus {
  display: inline;
  color: #bec1c3;
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  line-height: 23px;
  padding-left: 7px;
  float: left;
}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar .courseStatusInfo {
  color: #5b9455 !important;
}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar .courseStatusErr {
  color: #d14242 !important;
}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar .progress {
  width: 250px;
  height: 10px;
  float: left;
  margin: 6px 3px 0px 10px;
  background-color: #0d0b0c;
  background-image: linear-gradient(to bottom, #0d0b0c, #0d0b0c);
}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar .progress .bar {
  background-color: #5b9455;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b9455), to(#1f301e));
  background: -webkit-linear-gradient(top, #5b9455, #1f301e);
  background: -moz-linear-gradient(top, #5b9455, #1f301e);
  background: -ms-linear-gradient(top, #5b9455, #1f301e);
  background: -o-linear-gradient(top, #5b9455, #1f301e);
  background: #5b9455 !important;
  /* Old browsers */

  background: -moz-linear-gradient(top, #5b9455 0%, #1f301e 100%) !important;
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b9455), color-stop(100%, #1f301e)) !important;
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5b9455 0%, #1f301e 100%) !important;
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5b9455 0%, #1f301e 100%) !important;
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5b9455 0%, #1f301e 100%) !important;
  /* IE10+ */

  background: linear-gradient(to bottom, #5b9455 0%, #1f301e 100%) !important;
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b9455', endColorstr='#1f301e',GradientType=0 ) !important;
  /* IE6-9 */

}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar .courseProgressCertificate {
  float: right;
}
.welcomePanel .pnlCourses .courseSummary .courseSummaryBar .iconCertificate {
  float: right;
}
.welcomePanel .pnlCourses .courseSummary .ellipsis {
  font-size: 14px;
  overflow: hidden;
  height: 48px;
  line-height: 16px;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-top: 2px;
}
.welcomePanel .pnlCourses .courseSummary .ellipsis:before {
  content: "";
  float: left;
  width: 5px;
  height: 58px;
}
.welcomePanel .pnlCourses .courseSummary .ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}
.welcomePanel .pnlCourses .courseSummary .ellipsis:after {
  content: "\02026";
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  float: right;
  position: relative;
  top: -25px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
}
/*@media screen and (max-width: @wrapperWidth) {
	.pnlCourses { 
		@wrapperWidth: @wrapperWidthUnder990;
		width: @wrapperWidth;
		.courseSummary {
			.ellipsis { 
				margin-bottom: 0px;
			}
		}
		.courseSummary {
		width: @wrapperWidth !important;
			//width: 314px !important;
			.description {
				overflow: hidden;
			}
		}
	}
}*/