@import "mixins";

.activitybar { 
	bottom: 0px;
	left: 0px;
}

.menubar {
	top: 0px;
	left: 0px;
}

.menubar,.activitybar {	
	height: 88px;
	width: 100%;
	position: absolute;
	line-height: 48px; 
	.gradient(@barGradientStartColor,@barGradientEndColor);
	
	.buttons {
		float: right;
	}
	
	.btn {		
		color: @barButtonTextColor;
		font-size: 13px; 
		height: 37px;
		padding: 8px 8px 0px 8px;
		margin: 0px 0px 0px 0px;
		border: 0px 0px 0px 0px;
		
		border-left: 1px solid @barButtonSeparatorColor;
	}
	
	.btn-link:hover {
		text-decoration: none;
	} 
}