@import "mixins";

@barsHeight: 45px;
.activitybar { 
	bottom: 0px;
	left: 0px;
}
.menubar {
	top: 0px;
	left: 0px;
	-moz-box-shadow: 0 1px 4px 2px #000;
	-webkit-box-shadow: 0 1px 4px 2px #000;
	box-shadow: 0 1px 4px 2px #000;
	.imgMenuBar{
		.size(280px,@barsHeight);
		.backgroundImage('logo.png');
		float: left;
		.marginLogo;
	}
}
.menubar,.activitybar {	
	.size(100%,@barsHeight);
	position: absolute;

	.gradient(#45484d, #000000);
	
	.buttons {
		float: right;
		.btn {		
			color: @niceTextColor;
			text-shadow: none;
			font-size: 13px; 
			height: 37px;
			padding: 8px 8px 0px 8px;
			border-left: 1px solid #3f4d5a;
			border-right: 1px solid #11161d;
		}
		.btn-link:hover {
			text-decoration: none;
		}
	}
}