.VitrinePlace {
	background: url(bg.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: white;
}

.boxLogin {
	width: 250px;
	position: relative;
	left: 100px;
	top: 25px;
	background-color: rgba(255, 255, 255, 0.60);
	padding: 15px;
	border:8px solid white;
	border-radius:8px;
	box-shadow: 2px 2px 50px #FFFFFF;	
	min-height: 200px;
	color: #535355;
}

.appContainer {
	 margin-top: 5px; 
}

.menubar{	
	height: 40px;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	line-height: 40px; 
	background-color: #f4f4f4;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5; 
	color: #4a4a4a;
	vertical-align: middle;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px; 
	font-weight: bold;
}

.activitybar {
	height: 40px; 
	line-height: 40px; 
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #f4f4f4;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5; 
	color: #4a4a4a;
	vertical-align: middle;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px; 
	font-weight: bold;
}


.pnlActivities {
	padding: 5px 0px 5px 20px;
	overflow: scroll;
	height: 100%;
}

.pnlActivity {
	border: 1px solid grey;
	width: 300px;	
	height: 170px;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	float:left;
} 

.pnlActivity:hover {
	cursor: pointer;
	background-color: #f4f4f4;
}

.pnlActivity h1 {
	font-size: 1em;
	font-weight: normal;
	text-align: center;
}
