@import "buttons";
@import "bars";
@import "lesshat";
@import "mixins";
 
@media screen and (max-width: 1023px) {
    .wrapper {
		width: 600px;
	}
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	.gradient(@bodyGradientStartColor, @bodyGradientEndColor);
}

.wrapper {
    width: 1024px;
    margin: 0 auto;  
}
 
.contentWrapper {
}

 // #     #                                      
 // #     #  #  #####  #####   #  #    #  ###### 
 // #     #  #    #    #    #  #  ##   #  #      
 // #     #  #    #    #    #  #  # #  #  #####  
 //  #   #   #    #    #####   #  #  # #  #      
 //   # #    #    #    #   #   #  #   ##  #      
 //    #     #    #    #    #  #  #    #  ######                                             

.VitrinePlace {	
	background: url(bg.jpg) no-repeat center center fixed;	 
	background-size: cover;
	background-color: @boxLoginBackgroundColor;

	.boxLogin {
		width: 300px;
		position: absolute;
		right: 50px;
		top: 25px;
		background-color: @boxLoginBackgroundColor;
		padding: 25px;
		border:1px solid ;
		border-radius:8px;
		box-shadow: 0px 0px 2px 5px rgba(109,103,99,0.5);	
		min-height: 200px;
		color: white;
	}

	.boxLogin h1{
		font-size: 1.7em;
		font-weight: normal;
	}
}

 // #######                                 
 //    #     ######  #####   #    #   ####  
 //    #     #       #    #  ##  ##  #      
 //    #     #####   #    #  # ## #   ####  
 //    #     #       #####   #    #       # 
 //    #     #       #   #   #    #  #    # 
 //    #     ######  #    #  #    #   #### 

.TermsPlace{

	.termsPanel {
		width: 80%;
		margin: 0 auto;
		text-align: left; 

		.imgTermsTitle{
			margin: 0 auto;
			width: 407px;
		}
		.titleUser {
			color: @textHighlightColor;
			font-size: 18px;
			padding-top: 5px;
			padding-bottom: 10px;
		}
		.normal {
			color: @niceTextColor;
			font-size: 12px;
		}	
		.termsButtonBar{
			margin: 0 auto;
			width: 360px;
		}
		.btnTerms{
			color: @niceTextColor;
			.sizepx(150, 30);
			border: 0px;
			font-size: 13px;
			font-weight: bold;
			margin-top: 15px;
		}
		.btnAgree{
			margin-right: 30px;
			.btnSelected;
		}
		.btnDontAgree{
			margin-left: 30px;
			.btnNotSelected;
		}

	}
}

 // #     #                                                 
 // #  #  #  ######  #        ####    ####   #    #  ###### 
 // #  #  #  #       #       #    #  #    #  ##  ##  #      
 // #  #  #  #####   #       #       #    #  # ## #  #####  
 // #  #  #  #       #       #       #    #  #    #  #      
 // #  #  #  #       #       #    #  #    #  #    #  #      
 //  ## ##   ######  ######   ####    ####   #    #  ###### 

.pnlRight{
}

.pnlCoursesWrapper{
	margin-right: 30px;

	.pnlCourses { 
		width: 100%;
		display: block;
		overflow: auto;
	}
	.labelPnlCourses { 
		color: @niceTextColor;
		font-size: 15px;
		line-height: 23px;
		padding-left: 14px;
		padding-bottom: 12px;
		float: left;
	}
	.labelPnlCoursesHighlight { 
		color: @highlightCoursesCountColor;
		padding-left: 5px;
	}
	.imgPnlCourses{
		margin-left: 24px;
		float: left;
	}
	.courseSummary {
		.sizepx(350,142);
		background-color: @courseSummaryBackgroundColor;
		border-radius:5px;  
		padding: 5px 5px 5px 5px;
		margin-bottom: 10px;
		margin-left: 22px;
		float: left;
		&:hover {
			cursor: pointer;
			.changeBackgroundColorOnHover(@courseSummaryBackgroundColor, 15%);
		}
		h1 {
			margin: 0px;
			padding: 5px 0px 5px 0px;
			font-size: 1.1em;
			font-weight: bold;
			text-align: left;
			line-height: 1.231;	
			color: @textHighlightDiscreteColor;
		}
		.details {
			height: 100%;
			margin-left: 100px;
			color: @niceTextColor;
		}
		img.thumb {
			height: 132px;
			width:  86px;
			float: left;	
			border: 4px solid @courseSummaryThumbBorderColor;
		}
		.courseProgress {
			text-align: right;
			font-size: 11px;
			font-weight: bold;
			line-height: 23px;
			padding-left: 7px;
			color: @niceTextColor;
		}
		.courseProgressCertificate {
			float: right; 
		}
		.iconCertificate {
			padding-left: 40px;
		}
		.description {
			height: 75px;
		}
	}
}
















.profileFields{
	background-color: #111114;
	.titlePanel{
		height: 30px;
		.imgTitle{
			float: left;
			padding-left: 20px;
			padding-right: 20px;
		}
		.lblTitle{
			font-size: 17px;
			color: #ffffff;
		}
	}
	.fieldPanel{
			width: 1023px - 220px;
			height: 60px;
		.labelPanelImg{
			height: 98px;
		}
		.labelPanel{
			width: 0.3 * (1023px - 220px) - 40px;
			margin-right: 40px;
			float: left;
			text-align: right;
			.lblLabel{
				color: #bec1c3;
				font-size: 16px;
				line-height: 46px;
			}
			.lblExtraInfo{
				color:	#78af73;
				font-size: 10px;
				line-height: 10px;
				text-align: right;
			}
		}
		.labelPanel2{
			.lblLabel{
				line-height: 40px;
			}
			.lblExtraInfo{
			}
		}
		.lblValue{
			width: 0.4 * (1023px - 220px) - 40px;
			float: left;
			color:	#e0dfe0;
			line-height: 46px;
		}
		.lblValueAdd{
			width: 0.4 * (1023px - 220px) - 40px;
			float: left;
			color:	#b795a4;
			line-height: 46px;
		}
		.publicPanel{
			width: 0.3 * (1023px - 220px);
			float: left;
			.lblPublic{
				color: #696769;
				font-size: 14px;
				line-height: 46px;
			}
			.imgPublic{
				float: left;
				padding-right: 10px;
				padding-top: 10px;
			}
		}
	}
}




 // #     #                          #                              
 // ##   ##  ######  #    #  #    #  #        ######  ######  ##### 
 // # # # #  #       ##   #  #    #  #        #       #         #   
 // #  #  #  #####   # #  #  #    #  #        #####   #####     #   
 // #     #  #       #  # #  #    #  #        #       #         #   
 // #     #  #       #   ##  #    #  #        #       #         #   
 // #     #  ######  #    #   ####   #######  ######  #         #   

.menuLeftItem {
	width: 220px;
	height: 132px;
	.gradient(@menuLeftGradientStartColor, @menuLeftGradientEndColor);

	&:hover {
		cursor: pointer;
	} 
	.menuLeftItems {
		width: 145px;
		float: right;
	}  
	.menuLeftHeader {
		color: @textHighlightDiscreteColor;
		font-weight: bold;
		font-size: 13px;
		padding-left: 2px;
	}  
	.menuLeftItemLabel { 
		color: @textHighlightColor;
		height:10px;
		font-size: 11px;
		line-height: 15px;
		padding-left: 2px;
		padding-right: 3px;
		float: left;
	}  
	.menuLeftItemValue {
		color: @niceTextColor;
		font-size: 11px;
		line-height: 15px;
	} 
	img.iconMenuLeftItem {
		padding-left: 17px;
		padding-top: 45px;
	} 
	.menuLeftItemImgWrapper{
		width: 70px;
		float: left;
	}
}
.selectedMenuLeftItem{
	.gradient(#101013,#110f13);
}

 // ######                          
 // #     #    ##    #####    ####  
 // #     #   #  #   #    #  #      
 // ######   #    #  #    #   ####  
 // #     #  ######  #####        # 
 // #     #  #    #  #   #   #    # 
 // ######   #    #  #    #   ####  
                               

@barNorthHeight: 45px;
@barSouthHeight: 35px;
@buttonWidth: 126px;
.courseBar{
	@barsHeight: 45px;
	position: absolute;
	.size(100%,@barSouthHeight);
	.btnPanel{
		border-left: 1px solid #272f38;
		border-right: 1px solid #070b0d;
		border-bottom: 1px solid #0c0c0d;
	}
		.course {width: @buttonWidth;border-left: 0px;}
		.details {width: @buttonWidth;}
		.library {width: @buttonWidth;}
		.forum {width: @buttonWidth;}
		.chat {width: @buttonWidth;}
		.specialists {width: @buttonWidth + 2;}
		.notes {width: @buttonWidth;}
		.back {width: @buttonWidth;border-right: 0px;}
	.courseBarButton {
		height: @barSouthHeight;
		line-height: @barSouthHeight - 3px;
		margin: 0;
		padding: 0;
		border: 0;
		border-top: 3px solid @buttonSelectedGradientStart;
		.label{
			background: transparent;
			color: @niceTextColor;
			font-size: 10px;
			margin-left: 4px;
		}
		.icon{
		}
	}
	.activeCourseButton{
		.btnSelected;
	}
	.inactiveCourseButton{
		.btnNotSelected;
	}
}

.activitybar, .courseBar { 
	bottom: 0px;
	left: 0px;
}
.menubar {
	top: 0px;
	left: 0px;
	-moz-box-shadow: 0 1px 4px 2px #000;
	-webkit-box-shadow: 0 1px 4px 2px #000;
	box-shadow: 0 1px 4px 2px #000;
	.imgMenuBar{
		.size(280px,@barNorthHeight);
		.backgroundImage('logo.png');
		float: left;
		.marginLogo;
	}
}
.menubar, .activitybar {	
	.size(100%,@barNorthHeight);
	position: absolute;

	.gradient(#45484d, #000000);
	
	.buttons {
		float: right;
		.btn {		
			color: @niceTextColor;
			text-shadow: none;
			font-size: 13px; 
			height: 37px;
			padding: 8px 8px 0px 8px;
			border-left: 1px solid #3f4d5a;
			border-right: 1px solid #11161d;
		}
		.btn-link:hover {
			text-decoration: none;
		}
	}
}

 // ######                                                
 // #     #  #    #  #####  #####   ####   #    #   ####  
 // #     #  #    #    #      #    #    #  ##   #  #      
 // ######   #    #    #      #    #    #  # #  #   ####  
 // #     #  #    #    #      #    #    #  #  # #       # 
 // #     #  #    #    #      #    #    #  #   ##  #    # 
 // ######    ####     #      #     ####   #    #   ####  

.btn-primary {
  .btnSelected;
}
.btnNotSelected{
  .gradient(@buttonNotSelectedGradientStart, @buttonNotSelectedGradientEnd);
}
.btnSelected{
  .gradient(@buttonSelectedGradientStart, @buttonSelectedGradientEnd);
}
.btnCourses{
	color: @niceTextColor;
	border-left: 2px solid @bordersColor;
	float:right;
	height: 24px; 
	border: 0px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 11px;
	display: block;
}



.test{
	color: red;
}


