@import "buttons";
@import "bars";
@import "mixins";
@import "menuLeft";
@import "terms";

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	.gradient (@bodyGradientStartColor, @bodyGradientEndColor);
}

.wrapper {
    width: @wrapperWidth;
    margin: 0 auto;  
}
 
.contentWrapper {
}

 // #     #                                      
 // #     #  #  #####  #####   #  #    #  ###### 
 // #     #  #    #    #    #  #  ##   #  #      
 // #     #  #    #    #    #  #  # #  #  #####  
 //  #   #   #    #    #####   #  #  # #  #      
 //   # #    #    #    #   #   #  #   ##  #      
 //    #     #    #    #    #  #  #    #  ######                                             

.VitrinePlace {	
	background: url(bg.jpg) no-repeat center center fixed;	 
	background-size: cover;
	background-color: @boxLoginBackgroundColor;

	.boxLogin {
		width: 300px;
		position: absolute;
		right: 50px;
		top: 25px;
		background-color: @boxLoginBackgroundColor;
		padding: 25px;
		border:1px solid ;
		border-radius:8px;
		box-shadow: 0px 0px 2px 5px rgba(109,103,99,0.5);	
		min-height: 200px;
		color: white;
	}

	.boxLogin h1{
		font-size: 1.7em;
		font-weight: normal;
	}
}

 // #     #                                                 
 // #  #  #  ######  #        ####    ####   #    #  ###### 
 // #  #  #  #       #       #    #  #    #  ##  ##  #      
 // #  #  #  #####   #       #       #    #  # ## #  #####  
 // #  #  #  #       #       #       #    #  #    #  #      
 // #  #  #  #       #       #    #  #    #  #    #  #      
 //  ## ##   ######  ######   ####    ####   #    #  ###### 

.pnlRight{
	@pnlRightWidth: @wrapperWidth - @menuLeftWidth - 18px;
	width: @pnlRightWidth;
	.btnPanel{
		height: 30px;
	}
	.pnlCoursesWrapper{
		margin-right: 30px;
		.btnPanel{
			width: @pnlRightWidth;
		}
		.pnlCoursesWrapperTitle{
			height: 20px;
			.imgPnlCourses{
				margin-left: 24px;
				float: left;
			}
			.labelPnlCourses { 
				color: @niceTextColor;
				font-size: 15px;
				line-height: 23px;
				padding-left: 14px;
				padding-bottom: 12px;
				float: left;
			}
			.labelPnlCoursesHighlight { 
				color: @highlightCoursesCountColor;
				padding-left: 5px;
			}
		}
		.pnlCourses { 
			display: block;
			overflow: auto;
			width: @pnlRightWidth;
			.courseSummary {
				.sizepx(350,142);
				background-color: @courseSummaryBackgroundColor;
				border-radius:5px;  
				padding: 5px 5px 5px 5px;
				margin-bottom: 10px;
				margin-left: 22px;
				float: left;
				&:hover {
					cursor: pointer;
					.changeBackgroundColorOnHover(@courseSummaryBackgroundColor, 15%);
				}
				h1 {
					margin: 0px;
					padding: 5px 0px 5px 0px;
					font-size: 1.1em;
					font-weight: bold;
					text-align: left;
					line-height: 1.231;	
					color: @textHighlightDiscreteColor;
				}
				.details {
					height: 100%;
					margin-left: 100px;
					color: @niceTextColor;
				}
				img.thumb {
					height: 132px;
					width:  86px;
					float: left;	
					border: 4px solid @courseSummaryThumbBorderColor;
				}
				.courseSummaryBar {
					.icon {
						float: left;
					}
					.courseProgress {
						text-align: right;
						font-size: 11px;
						font-weight: bold;
						line-height: 23px;
						padding-left: 7px;
						color: @niceTextColor;
						float: left;
					}
					.courseProgressCertificate {
						float: right; 
					}
					.iconCertificate {
						float: right;
					}
				}
				.description {
					height: 78px;
				}
			}
		}
	}
}

 // ######                                             
 // #     #  #####    ####   ######  #  #       ###### 
 // #     #  #    #  #    #  #       #  #       #      
 // ######   #    #  #    #  #####   #  #       #####  
 // #        #####   #    #  #       #  #       #      
 // #        #   #   #    #  #       #  #       #      
 // #        #    #   ####   #       #  ######  ###### 

.profileFields{
	@profileWidth: @wrapperWidth - @menuLeftWidth - 18px;
	@profilePadding: 20px;
	background-color: @profileBackgroundColor;
	.titlePanel{
		height: 30px;
		padding-top: @profilePadding;
		.imgTitle{
			float: left;
			padding-left: @profilePadding;
			padding-right: @profilePadding;
		}
		.lblTitle{
			font-size: 17px;
			color: @profileLabelTitleColor;
		}
	}
	.fieldPanel{
		width: @profileWidth;
		height: 56px;
		.labelPanelImg{
			height: 98px;
		}
		.labelPanel{
			width: 0.3 * @profileWidth - (@profilePadding * 2);
			margin-right: @profilePadding * 2;
			float: left;
			text-align: right;
			.lblLabelImg{
				color: @profileLabelColor;
				font-size: 16px;
				line-height: 46px;
			}
			.lblLabel{
				color: @profileLabelColor;
				font-size: 16px;
				line-height: 46px;
			}
			.lblExtraInfo{
				color:	@profileLabelExtraInfoColor;
				font-size: 10px;
				line-height: 10px;
				text-align: right;
			}
		}
		.labelPanel2{
			.lblLabel{
				line-height: 25px;
				padding-top: 6px;
			}
			.lblExtraInfo{
			}
		}
		.lblValue{
			width: 0.4 * @profileWidth - (@profilePadding * 2);
			float: left;
			color:	@profileLabelValueColor;
			line-height: 46px;
		}
		.lblValueAdd{
			width: 0.4 * @profileWidth - (@profilePadding * 2);
			float: left;
			color:	@profileLabelValueAddColor;
			line-height: 46px;
		}
		.publicPanel{
			width: 0.3 * @profileWidth;
			float: left;
			.lblPublic{
				color: @profileLabelPublicColor;
				font-size: 14px;
				line-height: 46px;
			}
			.imgPublic{
				float: left;
				padding-right: @profilePadding/2;
				padding-top: @profilePadding/2;
			}
		}
	}
}













.detailsPanel{
	@detailsPanelMargin: 20px;
	@buttonsPanelWidth: .18 * @wrapperWidth;
	@hintsPanelWidth: .25 * @wrapperWidth;
	@infoPanelWidth: .45 * @wrapperWidth;
	.titlePanel{
		padding-top: 20px;
		font-size: 18px;
		line-height: 20px;
		.titleImage{
			padding-left: 20px;
			float: left;
		}
		.titleLabel{
			color: @niceTextColor;
			padding-left: 8px;
			padding-right: 8px;
			float: left;
		}
		.courseNameLabel{
			color: @textHighlightColor2;
		}
	}
	.buttonsPanel{
		width: @buttonsPanelWidth;
		margin-left: @detailsPanelMargin;
		margin-right: @detailsPanelMargin;
		margin-top: @detailsPanelMargin * 3;
		float: left;
		.btnDetails{
			width: @buttonsPanelWidth - (@detailsPanelMargin * 2);
			font-size: 14px;
			text-align: right;
			margin-top: @detailsPanelMargin;
			padding: 4px 12px;
			border-radius: 8px;
			display: inline-block;
			&:hover{
				text-decoration: none;
			}
			.btnTitle{
				font-weight: bold;
				color: @plainTextColor;
				line-height: 28px;
			}
			.btnLabel{
				font-size: 12px;
				line-height: 14px;
				color: @niceTextColor;
				padding-bottom: 8px;
			}
		}

	}
	.contentPanel{
		.infoPanel{
			width: @infoPanelWidth;
			margin-top: @detailsPanelMargin;
			float: left;
			.infoDetails{
				margin-top: @detailsPanelMargin;
				.infoTitle{
					color: @textHighlightColor;
					font-weight: bold;
					font-size: 16px;
					margin-bottom:  @detailsPanelMargin / 2;
				}
				.infoText{
					color: @niceTextColor;
					padding-right: @detailsPanelMargin;
				}
			}
		}
		.hintsPanel{
			margin-top: @detailsPanelMargin * 3;
			width: @hintsPanelWidth;
			float: left;
			background-color: @menuLeftItemGradientEndColor;
			border-radius: 8px;
			color: @niceTextColor;
			font-size: 12px;
			line-height: 14px;
			padding: @detailsPanelMargin;
			.hintDetails{
				padding-top: @detailsPanelMargin;
				padding-bottom: @detailsPanelMargin;
				.hintImg{
					float: left;
				}
				.hintText{
					padding-left: @detailsPanelMargin * 1.5;
				}
			}
		}	
		.topicsPanel{
			@topicsPanelWidth: .75 * @wrapperWidth;

			@topicsWidth: .4 * @topicsPanelWidth - (@detailsPanelMargin * 2) - 2px;
			@statusWidth: .17 * @topicsPanelWidth - (@detailsPanelMargin * 2) - 2px;
			@timeWidth: .1 * @topicsPanelWidth - (@detailsPanelMargin * 2) - 2px;
			@forumCommentsWidth: .21 * @topicsPanelWidth - (@detailsPanelMargin * 2) - 2px;
			@notesWidth: .12 * @topicsPanelWidth - (@detailsPanelMargin * 2) - 2px;
			margin-top: @detailsPanelMargin;
			float: left;
			.topicsHeaderPanel{
				@topicsHeaderPanelHeight: 24px;
				height: @topicsHeaderPanelHeight;
				margin-bottom: 10px;
				.btnTopicsHeader{
					height: @topicsHeaderPanelHeight;
					line-height: @topicsHeaderPanelHeight;
					border: 0;
					color: @niceTextColor;
					padding-left: @detailsPanelMargin / 2;
					padding-right: @detailsPanelMargin / 2;
					font-size: 12px;
					font-weight: bold;
					border-left: 1px solid @buttonBorderLeftColor;
					border-right: 1px solid @buttonBorderRightColor;
					display: block;
					float: left;
					&:hover{
						text-decoration: none;
						cursor: default;
					}
				}
				.btnTopics{width: @topicsWidth + @detailsPanelMargin;}
				.btnStatus{width: @statusWidth + @detailsPanelMargin;}
				.btnTime{width: @timeWidth + @detailsPanelMargin;}
				.btnForumComments{width: @forumCommentsWidth + @detailsPanelMargin;}
				.btnNotes{width: @notesWidth + @detailsPanelMargin;}
			}
			.topicWrapper{
				@topicWrapperHeight: 40px;
				height: @topicWrapperHeight;
				line-height: @topicWrapperHeight;
				background-color: @detailsItemWrapperColor;
				margin-top: @detailsPanelMargin / 2;
				color: @niceTextColor;
				font-size: 13px;
				.topicPanel{
					float: left;
					padding-left: @detailsPanelMargin / 2;
					padding-right: @detailsPanelMargin / 2;
					width: @topicsWidth + @detailsPanelMargin + 2px;
					.topicIcon{
						float: left;
						padding: (@topicWrapperHeight - 18px) / 2;
					}
					.lblTopic{
						float: left;
						color: lighten(@niceTextColor, 20%);
						padding-left: @detailsPanelMargin;
					}
				}
				.lblStatus{
					float: left;
					width: @statusWidth + @detailsPanelMargin + 2px;
					padding-left: @detailsPanelMargin / 2;
					padding-right: @detailsPanelMargin / 2;
				}
				.lblStatusFinishedTest{
					float: left;
					width: @statusWidth + @detailsPanelMargin + 2px;
					padding-left: @detailsPanelMargin / 2;
					padding-right: @detailsPanelMargin / 2;
					color: @detailsTopicStatusFinishedColor;
				}
				.lblTime{
					float: left;
					width: @timeWidth + @detailsPanelMargin + 2px;
					text-align: center;
					padding-left: @detailsPanelMargin / 2;
					padding-right: @detailsPanelMargin / 2;
				}
				.pnlForumComments{
					float: left;
					width: @forumCommentsWidth + @detailsPanelMargin + 2px;
					padding-left: @detailsPanelMargin / 2;
					padding-right: @detailsPanelMargin / 2;
					.lblForumComments{
						float: left;
						color: lighten(@niceTextColor, 20%);
						padding-right: @detailsPanelMargin / 4;
					}
					.lblDividingBar{
						float: left;
						color: darken(@niceTextColor, 20%);
						padding-right: @detailsPanelMargin / 4;
					}
					.lblNew{
						float: left;
						padding-right: @detailsPanelMargin / 4;
					}
					.lblNewForumComments{
						float: left;
						color: @textHighlightColor;
					}
				}
				.lblNotes{
					float: left;
					width: @notesWidth + @detailsPanelMargin + 2px;
					text-align: center;
					padding-left: @detailsPanelMargin / 2;
					padding-right: @detailsPanelMargin / 2;
				}
			}
		}
	}
}























.libraryPanel{
	@libraryPanelMargin: 20px;
	@buttonsPanelWidth: .18 * @wrapperWidth;
	@filesPanelWidth: .75 * @wrapperWidth;
	@fileIconWidth: .09 * @filesPanelWidth - @libraryPanelMargin;
	@pnlFileNameWidth: .47 * @filesPanelWidth - @libraryPanelMargin;
	@fileSizeWidth: .11 * @filesPanelWidth - @libraryPanelMargin;
	@starsPanelWidth: .15 * @filesPanelWidth - @libraryPanelMargin;
	@publishingDateWidth: .17 * @filesPanelWidth - @libraryPanelMargin;
	.titlePanel{
		padding-top: 20px;
		font-size: 18px;
		line-height: 20px;
		.titleImage{
			padding-left: 20px;
			float: left;
		}
		.titleLabel{
			color: @niceTextColor;
			padding-left: 8px;
			padding-right: 8px;
			float: left;
		}
		.courseNameLabel{
			color: @textHighlightColor2;
		}
	}
	.buttonsPanel{
		width: @buttonsPanelWidth;
		margin-left: @libraryPanelMargin;
		margin-right: @libraryPanelMargin;
		float: left;
		.btnLibrary{
			width: @buttonsPanelWidth - (@libraryPanelMargin * 2);
			font-size: 14px;
			text-align: right;
			margin-top: @libraryPanelMargin;
			padding: 4px 12px;
			border-radius: 8px;
			display: inline-block;
			&:hover{
				text-decoration: none;
			}
			.btnTitle{
				font-weight: bold;
				color: @plainTextColor;
				height: 60px;
				line-height: 60px;
			}
		}

	}	
	.filesPanel{
		width: @filesPanelWidth;
		margin-top: @libraryPanelMargin;
		float: left;
		.filesHeader{
			.btnLibraryHeader{
				border: 0;
				text-align: left;
				color: @niceTextColor;
				padding-left: @libraryPanelMargin / 2;
				padding-right: @libraryPanelMargin / 2;
				font-size: 12px;
				font-weight: bold;
				border-left: 1px solid @buttonBorderLeftColor;
				border-right: 1px solid @buttonBorderRightColor;
			}
			.btnIcon{width: @fileIconWidth + @libraryPanelMargin;}
			.btnName{width: @pnlFileNameWidth + @libraryPanelMargin;}
			.btnSize{width: @fileSizeWidth + @libraryPanelMargin;}
			.btnClassification{width: @starsPanelWidth + @libraryPanelMargin;}
			.btnPublishingDate{width: @publishingDateWidth + @libraryPanelMargin;}
		}
		.fileWrapper{
			@fileWrapperHeight: 70px;
			height: @fileWrapperHeight;
			line-height: @fileWrapperHeight;
			background-color: @detailsItemWrapperColor;
			margin-top: @libraryPanelMargin / 2;
			color: @niceTextColor;
			font-size: 13px;
			.fileIcon{
				float: left;
				padding: (@fileWrapperHeight - 40px) / 2;
			}
			.pnlFileName{
				float: left;
				width: @pnlFileNameWidth;
				height: @fileWrapperHeight - @libraryPanelMargin;
				padding: @libraryPanelMargin / 2;
				.fileName{
					line-height: 26px;
				}
				.fileDescription{
					color: @textInfoColor;
					font-size: 10px;
					line-height: 12px;
				}
			}
			.fileSize{
				float: left;
				width: @fileSizeWidth;
				padding-left: @libraryPanelMargin / 2;
				padding-right: @libraryPanelMargin / 2;
			}
			.starsPanel{
				float: left;
				width: @starsPanelWidth;
				padding-left: @libraryPanelMargin / 2;
				padding-right: @libraryPanelMargin / 2;
			}
			.publishingDate{
				float: left;
				width: @publishingDateWidth;
				padding-left: @libraryPanelMargin / 2;
				padding-right: @libraryPanelMargin / 2;
			}
		}
	}
}






















 
@media screen and (max-width: 1024px) {
	@wrapperWidth: 600px;
    .wrapper {
		width: @wrapperWidth !important;
	}
	
	.pnlRight{
		@pnlRightWidth: @wrapperWidth - @menuLeftWidth - 18px;
		width: @pnlRightWidth;
		.btnPanel{
			width: @pnlRightWidth;
			height:	60px !important;
			width: @pnlRightWidth;
		}
		.pnlCoursesWrapper {
			width: @pnlRightWidth;
			.pnlCourses { 
				width: @pnlRightWidth;
			}
			.courseSummary {
				width: 314px !important;
				.description {
					overflow: hidden;
				}
			}
		}
	}
	.courseBar{
		.courseBarButton {
			.label{
				visibility: hidden;
				width: 0px;
				border: 0;
				margin: 0;
				padding: 0;
			}		
		}
		@buttonCount: 8;
		@buttonWidth: ( @wrapperWidth / @buttonCount ) - 2px;
		.course 		{width: @buttonWidth; border-left: 0px;}
		.details 		{width: @buttonWidth;}
		.library 		{width: @buttonWidth;}
		.forum 			{width: @buttonWidth;}
		.chat 			{width: @buttonWidth;}
		.specialists 	{width: @buttonWidth + 2px;} /*because of the borders*/
		.notes 			{width: @buttonWidth;}
		.back 			{width: @buttonWidth; border-right: 0px;}
	}


	.profileFields{
		@profileWidth: @wrapperWidth - @menuLeftWidth - 18px;
		@profilePadding: 10px;
		width: @profileWidth;
		.fieldPanel{
				width: @profileWidth;
				height: auto !important;
			.labelPanelImg{
				height: auto !important;
			}
			.labelPanel{
				width: 0.3 * @profileWidth - (@profilePadding * 2);
				float: none !important;
				text-align: left !important;
				width: auto !important;
				.lblLabelImg{
					float: left !important;
					padding-right: 40px !important;
				}
				.lblLabel{
					float: none !important;
					padding-left: 10px;
				}
				.lblExtraInfo{
					float: none !important;
					text-align: left !important;
					padding-left: 10px;
				}
			}
			.lblValue{
				width: 0.4 * @profileWidth - (@profilePadding * 2);
				float: none !important;
				padding-left: 50px !important;
			}
			.lblValueAdd{
				width: 0.4 * @profileWidth - (@profilePadding * 2);
				float: none !important;
				padding-left: 50px !important;
			}
			.publicPanel{
				float: none !important;
				padding-left: 50px !important;
			}
		}
	}


	.detailsPanel{
		@detailsPanelWidth: @wrapperWidth - 18px;
		@buttonsPanelWidth: @detailsPanelWidth;
		@infoPanelWidth: @detailsPanelWidth;
		@hintsPanelWidth: @detailsPanelWidth * 2 / 3;
		@detailsPanelMargin: 10px;
		width:	@detailsPanelWidth;
		.buttonsPanel{
			width: @buttonsPanelWidth - 17px;
			margin-left: 17px;
			margin-right: 0px;
			margin-top: @detailsPanelMargin;
			.btnDetails{
				width: @buttonsPanelWidth / 4;
				margin-left: @detailsPanelMargin;
				text-align: center;
				float: left;
			}
		}
		.contentPanel{
			.infoPanel{
				width: @infoPanelWidth;
			}
			.hintsPanel{
				width: @hintsPanelWidth;
				margin-top: @detailsPanelMargin; 
				margin-bottom: @detailsPanelMargin;
				margin-right: @detailsPanelMargin * 3;
				margin-left: @detailsPanelMargin * 3;
			}
			.topicsPanel{
				padding-left: @detailsPanelMargin / 2;
				padding-right: @detailsPanelMargin / 2;
				margin-left: 35px;
				.topicsHeaderPanel{
					.btnForumComments{display: none}
					.btnNotes{display: none}
				}					
				.topicWrapper{
					.pnlForumComments{display: none}
					.lblNotes{display: none}
				}
			}
		}	
	}


	.libraryPanel{
		@libraryPanelMargin: 10px;
		@buttonsPanelWidth: .18 * @wrapperWidth;
		@filesPanelWidth: .7 * @wrapperWidth;
		@pnlFileNameWidth: .8 * @filesPanelWidth - @libraryPanelMargin;
		.buttonsPanel{
			width: @buttonsPanelWidth;
			margin-right: @libraryPanelMargin * 2;
			.btnLibrary{
				width: @buttonsPanelWidth - (@libraryPanelMargin * 2);
				font-size: 10px;
				.btnTitle{
					font-weight: normal;
					height: 40px;
					line-height: 40px;
				}
			}

		}	
		.filesPanel{
			width: @filesPanelWidth;
			.filesHeader{
				width: @filesPanelWidth;
				.btnLibraryHeader{}
				.btnIcon{}
				.btnName{width: @pnlFileNameWidth + (@libraryPanelMargin * 2);}
				.btnSize{display: none;}
				.btnClassification{display: none}
				.btnPublishingDate{display: none}
			}
			.fileWrapper{
				width: @filesPanelWidth;
				.fileIcon{
				}
				.pnlFileName{
					width: @pnlFileNameWidth;
					.fileName{}
					.fileDescription{}
				}
				.fileSize{display: none;}
				.starsPanel{display: none;}
				.publishingDate{display: none;}
			}
		}
	}

}