.vitrine{
	height: 100%;
	background: url(bg.jpg) no-repeat center center fixed;  
	background-size: cover;
}

.boxLogin {
	width: 250px;
	position: relative;
	left: 100px;
	top: 25px;
	background-color: rgba(255, 255, 255, 0.60);
	padding: 15px;
	border:8px solid white;
	border-radius:8px;
	box-shadow: 2px 2px 50px #FFFFFF;	
	min-height: 200px;
	color: #535355;
}

.appContainer {
	 margin-top: 5px; 
}

.menubar {
	height: 40px;
	line-height: 40px; 
	background-color: #f4f4f4;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5; 
	color: #4a4a4a;
	vertical-align: middle;
	padding-left: 50px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px; 
	font-weight: bold;
}

.pnlActivities {
	padding: 10px;
}

.pnlActivity {
	border: 1px solid grey;
	width: 150px;
	min-height: 150px;
	padding: 5px;
}

.pnlActivity:hover {
	cursor: pointer;
	background-color: #f4f4f4;
}

.pnlActivity h1 {
	font-size: 1em;
	font-weight: normal;
	text-align: center;
}
