/* Backgrounds Group
========================== */
/* @group gradient-veritical() */
/* @end */
/* @group background-clip() */
/* @end */
/* Box Group
========================== */
/* @option: box-display() */
/* @end */
/* @group box-shadow() */
/* @end */
/* Border Group
========================== */
/* @group rounded() */
/* @end */
/* Transform Group
========================== */
/* @group matrix() */
/* @end */
/* @group rotate() */
/* @end */
/* @group scale() */
/* @end */
/* @group translate() */
/* @end */
/* @group skew() */
/* @end */
/* Transition
========================== */
/* Animation Group
========================== */
/* Column
========================== */
/* Misc Group
========================== */
.profileForm {
  width: 944px;
  height: 100%;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 0px 0px 15px 15px;
}
.profileForm .editPanel {
  float: right;
  padding-right: 30px;
}
.profileForm .editPanel .lblEdit {
  color: white;
}
.profileForm .btnChangePassword {
  float: right;
  margin-right: 40px;
  width: 150px;
}
.profileForm .fieldsWrapper {
  padding-left: 100px;
}
.profileForm .fieldsWrapper .profileSeparatorBar {
  margin-bottom: 25px;
  float: left;
}
