packages:
  yum:
    mysql-connector-java: []
 
commands:
  0_install-mysql-connector-java:
    command: ln -sf /usr/share/java/mysql-connector-java.jar /usr/share/tomcat7/lib
  1_set_tomcat_version:
    command: yum info tomcat7 | grep Version | cut -d':' -f2 | tr -d ' ' > /etc/tomcat-version
  2_remove_old_dbcp:
    command: rm -f /usr/share/tomcat7/lib/tomcat-dbcp*
  3_download_new_dbcp:
    command: wget -O /usr/share/tomcat7/lib/tomcat-dbcp-`cat /etc/tomcat-version`.jar http://search.maven.org/remotecontent?filepath=org/apache/tomcat/tomcat-dbcp/`cat /etc/tomcat-version`/tomcat-dbcp-`cat /etc/tomcat-version`.jar