packages: 
  rpm:
    newrelic-repo: http://download.newrelic.com/pub/newrelic/el5/i386/newrelic-repo-5-3.noarch.rpm
  yum:
    newrelic-sysmond: []
commands:
  0_install_newrelic:
    command: wget -O /usr/share/tomcat7/lib/newrelic.jar http://s3-sa-east-1.amazonaws.com/beanstalk-support/newrelic/newrelic-agent-3.1.0.jar
  1_config_newrelic:
    command: wget -O /usr/share/tomcat7/lib/newrelic.yml http://s3-sa-east-1.amazonaws.com/beanstalk-support/newrelic/newrelic.yml
  2_config_newrelic_repo:
    command: rpm -Uvh http://download.newrelic.com/pub/newrelic/el5/i386/newrelic-repo-5-3.noarch.rpm
  3_echo:
    command: echo "$NORELIC_KEY" > /var/log/newrelic.log