packages:
  yum:
    mysql-connector-java: [5.1.12]
    tomcat7: [7.0.37]
commands:
  0_install_mysql_connector_java:
    command: ln -sf /usr/share/java/mysql-connector-java.jar /usr/share/tomcat7/lib/
  1_download_new_dbcp:
    command: wget -O /usr/share/tomcat7/lib/tomcat-dbcp-tomcat-dbcp-7.0.37.jar https://s3-sa-east-1.amazonaws.com/beanstalk-support/dbcp/tomcat-dbcp-7.0.37.jar