commands:
  0_install_mysql_connector_java:
    command: wget -O /usr/share/tomcat7/lib/mysql-connector-java-5.1.26-bin.jar https://s3-sa-east-1.amazonaws.com/beanstalk-support/lib/mysql-connector-java-5.1.26-bin.jar
  1_download_new_dbcp:
    command: wget -O /usr/share/tomcat7/lib/tomcat-dbcp-7.0.47.jar https://s3-sa-east-1.amazonaws.com/beanstalk-support/lib/tomcat-dbcp-7.0.47.jar
container_commands:
  setup_context:
    command: curl -s https://s3-sa-east-1.amazonaws.com/beanstalk-support/context/context.sh | sh > /etc/tomcat7/context.xml