@import "skin.nocache.less";

@textHighlightColor: #e86666;
@buttonActionGradientStart: #e86666;
@buttonActionGradientEnd: #733333; 
@buttonSelectedGradientStart: @buttonNotSelectedGradientStart;
@buttonSelectedGradientEnd: @buttonNotSelectedGradientEnd;